/* style.css */

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Estilo do cabeçalho */
header.topo {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilo do formulário */
form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo dos rótulos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo dos campos de entrada */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir padding e border no cálculo da largura */
}

/* Estilo do botão de envio */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

/* Estilo da lista de produtos */
h2.lista {
    margin-top: 20px;
    color: #333;
}

ul#listaProdutos {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
}

ul#listaProdutos li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#listaProdutos li {
    cursor: pointer;
  }
  
  #listaProdutos li.editar {
    color: blue;
  }
  
  #listaProdutos li.remover {
    color: red;
  }

  