body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header.topo {
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    margin-top: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.lista {
    margin-top: 20px;
    font-size: 20px;
}

ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; /* Alinha os itens da lista */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff; /* Cor azul para os botões de editar e remover */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3; /* Cor azul mais escura ao passar o mouse */
}

button:focus {
    outline: none; /* Remove o contorno ao focar no botão */
}